@font-face {
	font-family: 'GT-America-Expanded-Light';
	src: url('../fonts/GT-America-Expanded-Light.eot');
	src: local('☺'), url('../fonts/GT-America-Expanded-Light.woff') format('woff'), url('../fonts/GT-America-Expanded-Light.ttf') format('truetype'), url('../fonts/GT-America-Expanded-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT-America-Expanded-Black';
	src: url('../fonts/GT-America-Expanded-Black.eot');
	src: local('☺'), url('../fonts/GT-America-Expanded-Black.woff') format('woff'), url('../fonts/GT-America-Expanded-Black.ttf') format('truetype'), url('../fonts/GT-America-Expanded-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
  height: 100%;
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1;
}

a {
  color: #fff;
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.container{
  position: relative;
}
.bring-front{
  position: relative;
  z-index: 2;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin: 100%;
}
.parallax-layer {
  position: absolute;
}
.rellax{
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
#home .scroll{
  position: absolute;
  bottom:-45px;
  left:calc(50% - 0.5px);
  border-left: 1px solid #000;
  color: #000;
  height: 90px;
  padding-left: 10px;
  font-size: 0.5rem;
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#home .shape {
  width: 100%;
  height: 100%;
  top: 0;
  left: -90px;
}
#home .shape img{
  height: calc(100% + 70px);
  width: auto;
  margin-top: -35px;
}
.iawol{
  top: 50%;
  left: 50%;
  width: 360px;
  height: 360px;
  margin-left: -180px;
  margin-top: -180px;
  overflow: hidden;
  background-image:url(../img/logos/brand.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.iawol .inner{
  width: 100%;
  height: 100%;
  background-image:url(../img/logos/iawol.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}
.square-2 {
  width: 600px;
  height: 600px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.page-section {
  position: relative;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  section {
  }
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/* NAVBAR */

nav.navbar {
  padding: 17.5px!important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #000;
  border: 0;
  background-color: #fed136;
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #000;
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #000;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.75rem;
  font-weight: normal;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #000;
  text-decoration: underline;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    transition: all 0.5s;
    opacity: 0;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink .navbar-brand {
    opacity: 1;
  }
}

/* HOME */

#home .date{
  position: relative;
  top: calc(50% + 35px);
}
#home .date .alive{
  border: 2px solid #000;
  margin-left: 90px;
  padding: 15px;
  z-index: 10;
  color:#000;
  border-radius: 10px;
}
#home .date .alive:hover{
  text-decoration: none;
}
#home .container {
  text-align: center;
  color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image:url(../img/gradient01.jpg);
  height: calc(100% - 180px)!important;
}

#home .container .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

#home .container .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#home .container .intro-text .intro-heading {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  transition: all 0.3s;
}
#home .container .intro-text .intro-heading.heading-shrink {
  line-height: 0px;
}

@media (min-width: 768px) {
  .masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .masthead .intro-text .intro-heading {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

/* LIVE */

#live{

}
#live .swiper-container {
  width: 100%;
  height: 100%;
}
#live .swiper-wrapper {
  width: 100%;
  height: calc(100%)!important;
}
#live .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #ccc;

}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.bg-dark{
  background-color: #000000 !important;
}

/* LINE UP */

#lineup{
  position: relative;
}

#lineup a{
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 2.625rem;
  line-height: 1;
  text-transform: uppercase;
}
#lineup .artist-wrapper{
  position: absolute;
  left: calc(50% - 210px);
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 420px;
  height: 420px;
  z-index: -1;
}
#lineup .artist-box{
  position: relative;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 85%;
  height: 85%;
}

@media (min-width: 767px) {
  #lineup .lineup-item {
    margin: 0;
  }
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}

#about .shape {
  width: 100%;
  height: 100%;
  top: -10%;
  z-index: 0;
}
#about .shape img{
  width: 80%;
  height: auto;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
