/*!
 * Highlife Virtual
 * Copyright 2020 Tremendo Agency
 */

 /* FONTS */

@font-face {
	font-family: 'GT-America-Expanded-Light';
	src: url('../fonts/GT-America-Expanded-Light.eot');
	src: local('☺'), url('../fonts/GT-America-Expanded-Light.woff') format('woff'), url('../fonts/GT-America-Expanded-Light.ttf') format('truetype'), url('../fonts/GT-America-Expanded-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT-America-Expanded-Black';
	src: url('../fonts/GT-America-Expanded-Black.eot');
	src: local('☺'), url('../fonts/GT-America-Expanded-Black.woff') format('woff'), url('../fonts/GT-America-Expanded-Black.ttf') format('truetype'), url('../fonts/GT-America-Expanded-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* BASICS */

html, body {
  height: 100%;
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  transition: all 1s ease;
}
.noshift{
  transition: all 1s ease;
}

* {
  line-height: 1;
}

a {
  color: #000;
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.text-primary {
  color: #f5b236 !important;
}
.text-secondary{
  color: #92dabe !important;
}
.text-bold {
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p, h1, h2, h3, h4, h5, h6{
  line-height: 1;
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #000;
}
h1{
  font-size: 1rem;
}
h4{
  font-size: 0.75rem;
}
h6{
  font-size: 0.5rem;
}
.font-light{
  font-family: 'GT-America-Expanded-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.container{
  position: relative;
  width: 72%;
}
.rellax{
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
*:focus {
  outline: none !important;
}
::-moz-selection {
  background: transparent;
  text-shadow: none;
}

::selection {
  background: transparent;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* HOME */

#home .scroll{
  position: absolute;
  bottom:-45px;
  left:calc(50% - 0.5px);
  border-left: 1px solid #000;
  color: #000;
  height: 90px;
  padding-left: 10px;
  font-size: 0.5rem;
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#home .shape {
  width: 100%;
  height: 100%;
  top: 15px;
  left: 0;
}
#home .shape img{
  height: auto;
  width: 100%;
  margin-top: -35px;
}
.iawol{
  top: calc(30% - 67px);
  left: calc(30% - 67px);
  width: 134px;
  height: 134px;
  overflow: hidden;
  background-image:url(../img/logos/brand.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  transition: all 0.5s ease;
}
.iawol .inner{
  width: 100%;
  height: 100%;
  background-image:url(../img/logos/iawol.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}
.square-2 {
  width: 600px;
  height: 600px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.page-section {
  position: relative;
}

/* NAVBAR */

#mainNav .navbar-brand img{
  transition: all 0.3s ease;
}
#mainNav.navbar-shrink .navbar-brand img{
  opacity: 1;
}
nav.navbar{
 height: 15%;
 padding: 0 !important;
}
nav .navbar-brand{
  margin: 0 1rem !important;
  padding: 0 !important;
}
nav .navbar-nav .nav-link {
  font-size: 0.75rem;
  font-weight: normal;
  position: relative;
}
nav .nav-item a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s, background 0.5s ease 0.5s;
  width: 0;
}
nav .nav-item a:hover:after, nav .nav-item.active a:after { 
  width: 100%; 
  left: 0;
  color: #000 !important;
}
#mainNav .nav-item a.active:hover:after, nav .nav-item a.active:after { 
  width: 100%; 
  left: 0;
  color: #000 !important;
}

/* MOBILE NAV */

.mobile-navbar {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease 0.3s;
}
.mobile-navbar.show{
  opacity: 1;
  pointer-events: auto;
}
.mobile-navbar a{
  font-size: 1.5rem;
}
.mobile-navbar a:hover, .mobile-navbar a.active{
  color: #f5b236;
}

.mobile-navbar .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* HOME */

#home .date{
  position: relative;
  top: 75%;
  z-index: 2;
}

#home .container {
  text-align: center;
  color: #000;
  height: 70% !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image:url(../img/day.jpg);
  position: relative;
}

/* LINE UP */

#lineup a{
  text-decoration: none;
  transition: all 0.3s ease;
}
#lineup a:hover{
  color: #f5b236 !important;
  text-decoration: none;
}

#lineup .artist-wrapper{
  position: absolute;
  left: calc(50% - 210px);
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 420px;
  height: 420px;
  z-index: -1;
}
#lineup .artist-box{
  position: relative;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 85%;
  height: 85%;
}
@media (min-width: 767px) {
  #lineup .lineup-item {
    margin: 0;
  }
}

/* GUIDE */

#guide{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image:url(../img/day.jpg);
  position: relative;
}

/* SHARE */

#share .shape {
  width: 100%;
  height: 100%;
  top: -10%;
  z-index: 0;
}
#share .shape img{
  width: 100%;
  height: auto;
}

/* LIVE */

#loader{
  width:100%;
  height:100%;  
  position:absolute;
  z-index:1040;
  overflow: hidden;
  transition: all 1s ease 0.5s;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image:url(../img/day.jpg);
}
#loader .loader-wrapper{
  height: 200%;
  top: 0;
  transition: all 1s ease 0.5s;
}
#loader .loader-inner, #loader .loader-welcome{
  height: 50%;
  transition: all 1s ease 0.5s;
}
#live{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image:url(../img/day.jpg);
}
#live .swiper-container {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
#live .wrapper{
  width: 100%;
}
#live .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 480px;
  background-color: #fff;
}
#live .video, #live .chat{
  position: relative;
}
#live .video {
  width: 100%;
  height: 100%;
}
#live .video iframe, #live .chat iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#live .swiper-pagination-bullet-active{
  background: #000;
}

#footer{
  width: 100%;
  height: 85px;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

/* NIGHTSHIFT */

.custom-control{
  cursor: pointer;
}

.custom-control label{
  font-family: 'GT-America-Expanded-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.custom-control-label::after{
  background-color: #f5b236 !important;
  border: #adb5bd solid 1px !important;
}
.custom-control-input:checked~.custom-control-label::after{
  background-color: #6e106a !important;
  border: #fff solid 1px !important;
}
.custom-control-input:checked~.custom-control-label::before{
  background-color: #000;
  border: #fff solid 1px !important;
}

body.night{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 1s ease;
}
body.night .noshift{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 1s ease;
}

/* Media Queries */

@media (min-width: 576px) {
  h1{
    font-size: 2.25rem;
  }
  h4{
    font-size: 1.5rem;
  }
  #home .shape img{
    width: 50%;
    margin-top: -35px;
  }
  
  #live .swiper-slide {
    width: 540px;
    height: 304px;
  }
  #live .video {
    width: 74%;
    height: 100%;
  }
  #live .chat {
    width: 26%;
    height: 100%;
  }
}
@media (min-width: 767px) {
  .iawol{
    width: 220px;
    height: 220px;
  }
  #home .date{
    top: 80%;
  }
  #home .shape img{
    width: 100%;
    margin-top: -35px;
  }
  h1{
    font-size: 2.25rem;
  }
  h4{
    font-size: 1.5rem;
  }
  #live .swiper-slide {
    width: 647px;
    height: 270px;
  }
}
@media (min-width: 992px) {
  #mainNav .navbar-brand img{
    opacity: 0;
  }
  nav{
    height: 12.5%;
  }
  .container{
    width: 100%;
  }
  h1{
    font-size: 2.25rem;
  }
  h4{
    font-size: 1.5rem;
  }
  #home .shape img{
    width: 50%;
  }
  #live .swiper-slide {
    width: 837px;
    height: 349px;
  }
}
@media (min-width: 1200px) {
  .iawol{
    top: -10%;
    left: 5%;
  }
  h1{
    font-size: 2rem;
  }
  h4{
    font-size: 1.5rem;
  }
  #home .date{
    top: 60%;
  }
  #home .shape{
    left: -5%;
  }
  #share .shape img{
    width: 80%;
  }
  #live .swiper-slide {
    width: 992px;
    height: 414px;
  }
}
@media (min-width: 1440px) {
  h1{
    font-size: 2.25rem;
  }
  h4{
    font-size: 1.5rem;
  }
  #live .swiper-slide {
    width: 1080px;
    height: 607px;
  }
}
.swiper-button-next{
  color: #000;
  right: 5%;
}
.swiper-button-prev{
  color: #000;
  left: 5%;
}